export HASURA_GRAPHQL_VERSION=3
export HASURA_GRAPHQL_ENDPOINT=http://localhost:8080
export HASURA_GRAPHQL_ADMIN_SECRET=password
export HASURA_GRAPHQL_METADATA_DIRECTORY=hasura/metadata
export HASURA_GRAPHQL_ACTIONS_KIND=synchronous
export HASURA_GRAPHQL_ACTIONS_HANDLER_WEBHOOK_BASEURL=http://localhost:3000
